.buttons {
    background-color: darkcyan;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 50px;
    margin-bottom: -29px;


}
.buttons button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 78px;
    background-color: ghostwhite;
    height: 35px;
    width: 90px;
    border-color: cadetblue;
    border-radius: 25px;
    font-family: "Times New Roman";
    font-size: 20px;
}